@import "./imports/normalize";
@import "./imports/helpers";


@mixin grouped-btn-styles($bg-color, $txt-color) {
   background: $bg-color;
   text-align: center;
   color: $txt-color;
   text-align: center;
   line-height: 30px;
   border: 0;
   cursor: pointer;

   &:hover{
      background: $txt-color;
      color: $bg-color;
   }
}

*{
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: 'Lato', 'GillSans', 'sans-serif';
   font-weight: 400;
}


#app-container{
   .header{
      background: url('../images/spaced-out.jpg') center center no-repeat;
      background-size: cover;
      height: 80vh;
      text-align: center;
      color: #fff;


      h1{font-weight: 400;}
      button {
         width: 100px;
         margin: 0 10px;
         &.btn-go{ @include grouped-btn-styles(#1BA39C, #fff) ;}
         &.btn-cancel{ @include grouped-btn-styles(#D64541, #fff); }
      }

   }

   .more-info{
      text-align: center;
      height: 50vh;

      .btn-more-info{
         position: relative;
         @include grouped-btn-styles(#fff, #333);
         border: 2px solid #333;
         transform: translate(0, -50%);
         padding: 0 40px;

      }
   }

// *******************************************
// Your Work Below
// *******************************************
}

ul.nav-bar{
	padding:0;
	background: #333;
	color: #fff;
	
	// INSTRUCTOR
	margin: 0;

	position: fixed;
	bottom: 0; left: 0;
	width: 100%;

	text-align: center;
	//-------
	li {
		padding: 20px;
		
		//INSTRUCTOR
		display: inline-block;
		//-----
	}
}

@media screen and (min-width: 768px){

	//INSTRUCTOR
	ul.nav-bar{
		bottom: initial;
		top: 0;
		text-align: left;
	}
	//-----
}

@media screen and (min-width: 1024px){

	//INSTRUCTOR
	$desktop-dash-width: 80px;

	#app-container{
		padding-left: $desktop-dash-width;
	}
	
	ul.nav-bar{
		width: $desktop-dash-width;
		height: 100%;
		li{
			display: block;
			margin: 0 auto;
		}
	}
	//-----
	
}
// *******************************************

